<!-- <mat-toolbar> Тестування почато! Дайте відповіді на питання</mat-toolbar> -->
<ng-container *ngIf="!isTestDone">
    <p class="countdown-container">
        <span>
            До завершення тесту:
            <countdown *ngIf="timer > 300" [config]="{leftTime: timer}" (event)="finish($event)"></countdown>
            <countdown *ngIf="timer <= 300" class="five-minutes" [config]="{leftTime: timer}" (event)="finish($event)"></countdown>
        </span>
        <button mat-raised-button color="primary"  (click)="sendAnswersForCheck()">
            Завершити тест
        </button>
    </p>
<section class="container-test-player">
    <div class="container-quiz-navigation">
        <section class="container-quiz-navigation-wrap">
            <app-question-menu-item
                *ngFor="let question of questions let i = index"
                [isChoosen]="question.question_id === (choosenQuestionId || questions[0].question_id)"
                [index]="i + 1"
                [question]="question"
                [addedQuestionAnswer]="addedQuestionAnswer"
                [markedQuestions]="markedQuestions"
                (viewQuestionOutput)="viewQuestionParent($event)">
            </app-question-menu-item>
        </section>
    </div>
</section>
    <app-question-answer
        [choosenQuestion]="choosenQuestion"
        [choosenAnswer]="choosenAnswer"
        (onAnswerChange)="addQuestionAnswer($event)"
        (mark)="addMarkedQuestion($event)"
    >
    </app-question-answer>

</ng-container>

<ng-container *ngIf="isTestDone">
    <div class="container-result">
        <section class="container-result-card">
            <mat-card class="result-card" [ngClass]="{
                success: getStyleByScore(testResults).success,
                middle: getStyleByScore(testResults).middle,
                bad: getStyleByScore(testResults).bad
            }" >
              <mat-card-header>
                <mat-card-title>{{getTitleByScore(testResults)}}</mat-card-title>
              </mat-card-header>

              <mat-card-content class="result-card-content">
                  <section class="result-score">
                    <span class="score">{{testResults.full_mark}}</span>
                    <span class="score-text">балів</span>
                  </section>
              </mat-card-content>

              <mat-card-footer class="result-card-footer">
                   <div class="result-info">
                       <p>Кількість правильних відповідей {{testResults.number_of_true_answers}} із {{testResults.question_length}}</p>
                       <p>Оцінка в 12-бальній системі: {{testResults.scoreIn12Point}}</p>
                       <p>Оцінка в 100-бальній системі: {{testResults.scoreIn100Point}}</p>
                   </div>
                   
              </mat-card-footer>
              
            </mat-card>
            <button class="exit-button" mat-raised-button color="primary" routerLink="/student/home">Вийти</button>
          </section>
    </div>
</ng-container>
<!-- <p>
    Ваша оцінка: {{testResults.full_mark}}
</p>
<p>
    Всього правильних відповідей: {{testResults.number_of_true_answers}}
</p> -->