<div class="container">
  <app-header-entity [entityName]="'Групи'" [buttonName]="'групу'" (buttonClick)="openAddGroupDialog()"></app-header-entity>
  <div class="search-box">
    <button
      mat-stroked-button
      color="prime"
      (click)="openCheckSpecialityDialog()"
    >
      <mat-icon aria-hidden="false" aria-label="search">search</mat-icon>
      Перегляд груп за спеціальністю
    </button>
    <button
      mat-stroked-button
      color="prime"
      (click)="openCheckFacultyDialog()"
    >
      <mat-icon aria-hidden="false" aria-label="search">search</mat-icon>
      Перегляд груп по інституту
    </button>
    <button
    mat-stroked-button
    color="prime"
    (click)="backToListGroup()"
  >
    <mat-icon aria-hidden="false" aria-label="search">search</mat-icon>
    Перегляд всіх груп
  </button>
  </div>
  <div class="title-box">
    <h4><span *ngIf="isCheckSpeciality">
      Перелік груп спеціальності "{{feature}}"
    </span> <span *ngIf="isCheckFaculty">
      Перелік груп факультету/інституту "{{feature}}"
    </span></h4>
  </div>
  <section class="container">

    <app-mat-table 
    [data]="listGroupsChunk" 
    [columns]="columns"  
    [countRecords]="itemsCount"
    [filter]='true'
    [entity]="'Group'"
    (action)='getAction($event)'
    (pageEvent)='pageUpdate($event)' >
    </app-mat-table>
    
    </section>
</div>
