.numberWrapper {
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
  
    &.is-answered {
        background-color:#60CA63;
    }
    &.is-marked {
        background-color: #EEDA4A;
    }
    &.is-choosen {
        background-color:#CACACA;
    }
}
.mainWrapper {
    margin-left: 20px;
 }
 
