.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  flex-wrap: wrap;
  align-items: center;
}

.btn {
  width: 200px;
  margin: 10px;
}
@media screen and (max-width: 400px) {
  .header {
    justify-content: center;
    flex-wrap: wrap;
  }
}
