<div class="toolbar">
    <ng-container>
        <h2>{{'subjects.headerMain'| translate}}</h2>
    </ng-container>

    <ng-container>
        <div class="mat-elevation-z9 ">
            <button class="addSubject" mat-stroked-button (click)="createNewSubject()">
                Додати предмет
            </button>
        </div>
        
    </ng-container>
</div>

<section class="container">

    <app-mat-table 
    [data]="subjects$ | async" 
    [columns]="columns"  
    [filter]='true'
    [entity]="'Subject'"
    (action)='getAction($event)'
    (pageEvent)='pageUpdate($event)' >
    </app-mat-table>
    
    </section>