button {
  width: fit-content;
}

.profile_button {
  position: absolute;
  right: 40px;
  top: 85px;
}

$color-primary-light: #3981df;
$color-grey-text: #848484;
.main-container {
  font-size: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 3em;
}

.header {
  text-align: center;
  margin-bottom: 2em;
}
.mat-card-header {
  justify-content: center;
}
.test-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
table {
  width: 100%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.table-info {
  width: 1000px;
  height: 500px;
  overflow: auto;
  margin: 20px;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.student_description p {
  font-size: 1.2rem;
}
.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}


@media screen and (max-width: 1010px) {
  .main-container {
    flex-wrap: wrap-reverse;
    margin-top: 1rem;
  }
  .test-details {
    margin-top: 80px;
  }
  table {
    width: 120%;
  }
  .table-info {
    width: 95%;
  }
}
@media screen and (max-width: 600px) {
  .table-info {
    // width: 700px;
    // height: 400px;
    // overflow: auto;
  }
  table {
    width: 200%;
  }
}
.mat-column-subject {
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
  word-break: break-word;
  padding: 0 3px 0 3px;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-test {
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
  word-break: break-word;
  padding: 0 3px 0 3px;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-start {
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
  word-break: break-word;
  padding: 0 3px 0 3px;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-end {
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
  word-break: break-word;
  padding: 0 3px 0 3px;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-tasks {
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
  word-break: break-word;
  padding: 0 3px 0 3px;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-duration {
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
  word-break: break-word;
  padding: 0 3px 0 3px;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-attempts {
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
  word-break: break-word;
  padding: 0 3px 0 3px;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-actions {
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
  word-break: break-word;
  padding: 0 3px 0 3px;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-icon {
  cursor: pointer;
}

.student-info {
  margin-left: 5em;
}

.student-info > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 2em;
}
