/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/material-palenight";
html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fcfcfc;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.student-view-dialog-container .mat-dialog-container {
  padding: 0px !important;
}

html {
  scroll-behavior: smooth;
}
.snackbar {
  &-success {
    background-color: #509650;
  }
  &-alert {
    background-color: #b34045;
  }
  &-warning {
    background-color: #f8b344;
  }
  &-info {
    background-color: #3e72ad;
  }
}

.mat-simple-snackbar {
  justify-content: space-around !important;
  font-size: 1rem;
  color: white;
}
.mat-simple-snackbar-action {
  color: black;
}
.mat-radio-label {
  white-space: pre-line !important;
}
.mat-radio-label-content {
  display: flex !important;
  align-items: center;
}